body {
  background-color: lightblue;
  background-image: url('https://cutewallpaper.org/21/aesthetic-2560x1440-wallpapers/Stunning-Aesthetic-Desktop-Wallpaper-images-For-Free-.jpg');
  background-repeat: cover;
}

h1 {
  color: rgba(217, 231, 17, 0.884);
  text-align: center;
}

h2 {
  color: rgba(217, 231, 17, 0.884);
  font-family: verdana;
  font-size: 20px;
  word-wrap: break-word;
}

h3 {
  color:  rgba(217, 231, 17, 0.884);
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

div {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

h4,textarea {
  color:  rgba(17, 31, 231, 0.884);
  word-wrap: break-word;
  font-size: 15px;
  
}

div.card {
  background-color: #eeeeee50;
  height: 250;
  width: 300px;
  box-shadow: 10px 10px rgb(158, 53, 53);
  padding: 10px;
  border-radius: 10px;
  align-self: center;
}

form {
  color:  rgba(217, 231, 17, 0.884);
}
