body {
  background-color: lightblue;
}

h1 {
  color: rgba(192, 58, 58, 0.884);
  text-align: center;
}

h2 {
  color: rgba(192, 58, 58, 0.884);
  font-family: verdana;
  font-size: 20px;
  word-wrap: break-word;
}

h3 {
  color: rgba(192, 58, 58, 0.884);
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

div {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

h4,textarea {
  word-wrap: break-word;
  font-size: 15px;
}

div.card {
  background-color: #eeeeee;
  height: 250;
  width: 300px;
  box-shadow: 10px 10px rgb(158, 53, 53);
  padding: 10px;
  border-radius: 10px;
  align-self: center;
}

